[submodule "Dependencies/jsbsim"]
	path = Dependencies/jsbsim
	url = https://github.com/JSBSim-Team/jsbsim.git
[submodule "Dependencies/OpenRTI"]
	path = Dependencies/OpenRTI
	url = https://github.com/aangelhh/openrti_aangelhh.git
